/* reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
  
/* main */
html, body {
    background-color: #666;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

nav {
    height: 64px;
    min-height: 64px;
    background-color: #666;
    border-bottom: 1px solid #888;
    color: #aaa;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > a {
    width: 64px;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
nav > span {
    font-weight: bold;
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;   
    background-color: #333;
    flex: 1;
}

main > a {
    margin: 10px;
    display: block;
    padding: 15px;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main > a:hover {
    color: #aaa
}